*{
  margin: 0;
  padding: 0;
}

header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("source_background/bckground3.jpg");
height: 150vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat:no repeat;
}

ul{
float:right;
list-style-type:none;
margin-top:10px;
font-size:18px;
}

ul li{
display: inline-block;
margin-left:35px;
}

ul li a{
text-decoration:none;
color:white;
padding:5px 20px;
border:1px solid transparent;
transition: 0.6s ease;
}
 ul li a:hover{
background-color:white;
color:black;
}
.main{
max-width: 1500px;
margin:auto;
}

.block{
border:none;
height:380px;
padding:auto;
margin:auto;
margin-top:90px;
width:750px;
background-color:rgba(255,255,255,0.80);
/*text-shadow:0px 0px 3px black;*/
}

.block2{
margin:auto;
height:280px;
width:600px;
border:none;
overflow-y:scroll;
}
hr{
border-color:white;
}

.head{
margin-left:280px;
padding-top:20px;
margin-top:20px;
font-size:29px;
font-family:Georgia;
color:black;
text-shadow:0px 0px 3px black;
/*text-shadow:0px 0px 2px green,1px 1px 15px DeepPink,2px 2px 15px blue;*/
}

.hed1{
color:red;
text-shadow:0px 0px 2px green,1px 1px 15px DeepPink,2px 2px 15px blue;
}

p{
	color:black;
	font-size:16px;
}

body{
	overflow:hidden;
	/*border:1px solid black;*/
	margin:auto;
	padding:auto;
	min-width:400px;
}

@media only screen and (max-width:600px)
{
	.header{
		font-size:22px;
		width:100%;
	}
	.block{
		margin-top:80px;
		width:380px;
		height:429px;
	}
	.block2{
		width:360px;
		color:black;
	}
	.head{
		margin-left:120px;
	}
	
}

.login{
	border:none;
	border-radius:05px;
	float:right;
	margin-top:-23px;
	margin-right:10px;
	width:120px;
	height:50px;
	background-color:red;
	color:white;
	font-size:14px;
	transition-duration:0.80s;
}
.login:hover{
	background-color:green;
	width:150px;
}