*{
  margin: 0;
  padding: 0;
 
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url("source_background/bckground3.jpg");
	height: 170vh;
	background-size: cover;
	background-position: center;
}
body{	
	margin: 0;
	padding: 0;
	background: url("source_background/bckground3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
background-repeat:no repeat;

}

h1{
	text-align:center;
	color:white;
	font-weight:bold;
}
h2{text-align:center;
	color:black;
	margin-top:2px;
	font-weight:bold;
}
body{
	background-image:url("source_background/bckground3.jpg");
	width:1600px;
	background-size:2500px;
}
.loginbox
{
background: rgba(44,62,80,0.7);
padding:45px;
width: 350px;
height: 780px;
margin:0 auto;
margin-top: 15px;
margin-bottom:50px;
margin-left: 500px;
position:relative;
color:white;
box-shadow:0 4px 18px 0 rgba(255, 250, 250, 0.50);
}
.logininbox p{ 
margin: 0;
padding:0;
font-weight:bold;
}
.loginbox input{
width: 100%
margin-bottom:20px;
}
.loginbox input[type="text"],input[type="email"]{
width:270px;
box-sizing:border-box;
padding:12px 10px;
background:rgba(0,0,0,0.10);
outline:none;
border:none;
border-bottom:1px dotted white;
color:white;
border-radius:5px;
margin:5px;
font-weight:bold;
margin-right:250px;
}
button[type=submit]
{
border:none;
width: 350px;
background: white;
color: black;
font-size: 16px;
line-height: 25px;
padding: 10px 0px;
border-radius: 15px;
cursor: pointer;
}
button
{
border:none;
width:150px;
background: white;
color: black;
background: rgba(44,62,80,0.9);
font-size: 16px;
line-height: 25px;
padding: 10px 0px;
border-radius: 15px;
cursor: pointer;
}
button:hover
{
color:white;
background: black;
}
input[type="text"],[type="email"],
{
	border:none;
	border-bottom:1px solid white;
	background:transparent;
	outline:none;
	color:#fff;
	height:50px;
	font-size:16px;
	width:380px;
}
input[type="Number"]
{
	border:none;
	border-bottom:1px solid white;
	outline:none;
	background:transparent;
	color:#fff;
	height:15px;
	width:60px;
	font-size:16px;
	font-weight:bold;
}
form{
width:500px;
}
.main{
max-width: 1500px;
margin:auto;
}
ul{
float:right;
list-style-type:none;
margin-top:-52px;
font-size:18px;
}
ul li{
display: inline-block;
margin-left:20px;
}
ul li a{
text-decoration:none;
color:white;
padding:5px 20px;
border:1px solid transparent;
transition: 0.6s ease;
}
ul li a:hover{
background-color:white;
color:black;
}