body{
	margin: 0;
	padding: 0;
	background: url("source_background/bckground3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font family: Century Gothic;
background-attachment: fixed;
background-repeat:no repeat;
}
.loginbox
{
background: rgba(44,62,80,0.7);
padding:45px;
width: 280px;
height: 350px;
margin:0 auto;
margin-top: 105px;
margin-bottom:50px;
margin-left: 500px;
position:relative;
color:white;
box-shadow:0 4px 18px 0 rgba(255, 250, 250, 0.50);
}
.logo{
width: 120px;
height:120px;
border-radius: 50%;
position: absolute;
top: -80px;
left: calc(35%);
}

h1{ 
	margin: 0;
	padding:0 0 20px;
	text-algin:center;
	font-size: 22px;
}
.logininbox p{ 
margin: 0;
padding:0;
font-weight:bold;
}
.loginbox input{
width: 100%
margin-bottom:20px;
}
.loginbox input[type=text],input[type=password]{
width:270px;
box-sizing:border-box;
padding:12px 10px;
background:rgba(0,0,0,0.10);
outline:none;
border:none;
border-bottom:1px dotted white;
color:white;
border-radius:5px;
margin:5px;
font-weight:bold;
margin-right:250px;
}
form{
width: 280px;
text-align: center;
margin: 0 auto;
}
input
{
width: 300px;
text-align: center;
background: transparent;
border: none;
border-bottom: 1px solid white;
font-family: 'Flamenco', cursive;
font-size: 16px;
font-weight: 200px;
padding: 10px 0;
transition: border 0.5s;
outline: none;
color:black;
}
button[type=reset],button[type=submit]
{
border:none;
width: 100px;
background: white;
color: black;
font-size: 16px;
line-height: 25px;
padding: 10px 0px;
border-radius: 15px;
cursor: pointer;
}
button[type=reset]:hover
{
color:white;
background: black;
}
button[type=submit]:hover
{
color:white;
background: black;
}
.container{
display: flex;
flex-direction: row;
width: 100%;
}
a{
color:black;
text-decoration:blink;
}
a{
color:yellow;
text-decoration: blink;
}
a:hover
{
color:skyblue;
}
::placeholder{
color:aliceblue;
}
