body
{
	margin:0px;  
	padding:0px;
	background-image:url("source_background/bckground3.jpg");
	box-sizing:border-box;
	background-size: cover;
background-attachment: fixed;
background-repeat:no repeat;

}
.card-container
{
	height:750px;
	width:500px;
	background:#FFF;
	border-radius:20px;
	position:absolute;
	top:18%;
	left:32%;
	transform :translate:(-50%,-50%);
	box-shadow:0px 1px 10px 1px #000;
	overflow:hidden;
	display:inline-block;
	align-items:left;
	text-align:left;
}
.upper-container
{
	height:160px;
	background:black;
}
.lower-container{
	height:280px;
	background:#FFF;
	padding:20px;
	padding-top:40px;
	text-align:center;
}
.lower-container h3,h4{
	box-sizing:border-box;
	line-height:4;
	font-weight:lighter;
	
}
h3{
	text-align:center;
	color:gray;
	margin-top:37px;
}

.lower-container h4{
	color:#7F00FF;
	opacity:.6;
	font-weight:bold;
}
.image-container {
	padding:5px;
	
	margin-top:0px;
	width:160px;
	height:160px;
	border-radius:50%;
	transform:translate(100px,100px);
}
.image-container img {
	background:white;
	width:150px;
	height:150px;
	border-radius:50%;
	margin-left:185px;
	margin-top:-80px;
}
.lower-container p{
	font-size:12px;
	color:gray;
	margin-bottom:30px;
	
}
.btn{
	width:700px;
	
}
.lower-container .btn{
padding:12px 20px;
background:black;
border:none;
color:white;
border-radius:30px;
font-size:12px;
font-weight:bold;
text-decoration:none;
transition:all .3s ease-in;
height:15px;
width: 550px;
}
.lower-container .btn:hover{
	background:transparent;
	color:black;
	BORDER:2px solid black;
}
.name
{
	color:white;
	top:-190%;
	margin-right:680px;
	font-family:'Flamenco', cursive;
	font-weight:bold;
	font-size:16px;
}
.details
{
	color:green;
	top:1%;
	margin-right:680px;
    space:none;
	font-family:'Flamenco', cursive;
	font-weight:bold;
	font-size:22px;

}

.edu
{
	color:green;
	top:1%;
	margin-right:680px;
	font-family:'Flamenco', cursive;
	font-weight:bold;
	font-size:14px;
}
.details
{
	color:green;
	top:1%;
	margin-right:680px;
		font-family:'Flamenco', cursive;
	font-weight:bold;
	font-size:16px;
}
.fees
{
	color:green;
	top:1%;
	margin-right:680px;
		font-family:'Flamenco', cursive;
	font-weight:bold;
	font-size:16px;
}
.fieldset{
		min-width:265px;
		min-height:10px;
	}
.fieldset1{
		min-width:165px;
		min-height:10px;
		font-weight:bold;
		margin-top:-153px;
		color:blue;
	}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url("source_background/bckground3.jpg");
	height: 160vh;
	background-size: cover;
	background-position: center;
}

ul{
	float:right;
	/*list-style-type:none;*/
	margin-top:35px;
	font-size:18px;
	
}

ul li{
	display: inline-block;
	margin-left:25px;
}

ul li a{
	text-decoration:none;
	color:white;
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
 ul li a:hover{
	background-color:white;
	color:black;
}

.main{
	max-width: 1500px;
	margin:auto;
}
.header{
		font-size:30px;
		width:100%;
		color:white;
	}
