*{
  margin: 0;
  padding: 0;
}
body{
	overflow:hidden;
background-attachment: fixed;
background-repeat:no repeat;
	
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url("source_background/bckground2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
background-attachment: fixed;
background-repeat:no repeat;
}
ul{
	float:right;
	list-style-type:none;
	margin-top:35px;
	font-size:18px;
	
}
ul li{
	display: inline-block;
	margin-left:25px;
}
ul li a{
	text-decoration:none;
	color:white;
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
 ul li a:hover{
	background-color:white;
	color:black;
}
.main{
	max-width: 1500px;
	margin:auto;
}
.title{
	position: absolute;
	top:65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size:80px;

}
.button{
display: inline-block;
padding: 20px 40px;
font-weight: lighter;
text-decoration: none;
text-transform: uppercase;
border-radius: 200px;
transition: background-color 0.2s, border 0.2s, color 0.2s;
margin-top:20px;
}
.btn1{
background-color: transparent;
color: White;
margin-right:15px;
margin-left:70px;
border: 1px solid white;
}
.btn1:hover{
background-color:white;
color:black;
}
h1{
text-align:center;
}
.logout{
	border:none;
	border-radius:05px;
	float:right;
	margin-top:-23px;
	margin-right:10px;
	width:120px;
	height:50px;
	background-color:red;
	color:white;
	font-size:14px;
	transition-duration:0.80s;
}
.logout:hover{
	background-color:green;
	width:150px;
}
.btn2{
background-color: transparent;
color: White;
margin-right:15px;
border: 1px solid white;
}
.btn2:hover{
background-color:white;
color:black;
}

